.modal-search-window {
    background-color: rgba( 0, 0, 0, 0.75 );
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;

    .close {
        color: rgba( $lightest, 0.75 );
        cursor: pointer;
        display: block;
        font-size: 60px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 40px;
        width: 50px;
    }
}

.modal-search {
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: 130px;

    input {
        width: 100%;

        &[type=search] {
            color: $ltgray;
            font-size: 18px;
            font-style: italic;
            height: 50px;
            margin: 0 0 10px 0;


        }

        &[type=submit] {
            background-color: $green;
            color: $lightest;
            font-size: 20px;
            font-weight: 700;
            height: 50px;
            text-transform: uppercase;
        }
    }
}

.site-header {
    padding: 10px 0;
}

.upper-header {
    background-color: $blue;
    color: $lightest;
    display: none;

    a {
        color: $lightest;
    }
}

.main-header {

    .flexxed {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.site-branding {
    width: 49%;
}

.mobile-phone {
    color: $ltgray;
    text-align: center;
    width: 49%;

    a {
        font-weight: 700;
    }
}

.main-navigation {
    display: none;
}

.mobile-header {
    overflow: hidden;
    padding: 5px 0;
}

.mobile-search {
    color: $blue;
    float: right;
    font-size: 24px;
}